{#include landingPage}
	{#body}
      <div>
          <h2>{msg:user} {msg:information}</h2>
      </div>
      <table class="table table-striped">
          <tr>
            <th>{msg:name}</th>
            <td><b>{user.firstName} {user.lastName}</b></td>
          </tr>
          <tr>
            <th>{msg:email}</th>
            <td>{user.email}</td>
          </tr>
      </table>
      <div>
        {msg:back_to} <a class="label-link" href="/login">{msg:login}</a>
      </div>
  {/body}
{/include}
